# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
build/
dist/

# Virtual envs
.venv/
venv/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Testing & coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Local data & models
data/
models/

# Env files
.env
.env.*

